.main-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    gap: 4px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#avatar-photo {
    width: 33%;
    height: auto;
    border-radius: 10%;
}

.text-container {
    font-size: 1.2rem;
    font-family: 'Roboto';
    padding: 25px;
}

/* Slider */
.second-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 4px;
    gap: 4px;
    margin-bottom: 10px;
}

#tech-stack {
    margin: 24px;
    font-weight: bold;
}

#container-scroll {
    width: 60%;
    overflow: hidden;
}

.scroll {
    display: flex;
    width: fit-content;
    animation: loop 25s linear infinite;
    gap: 30px;
}

.item {
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    margin: 14px;
}

.item:hover {
    cursor: pointer;
    scale: 1.2;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}




