.main-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-width: 40vw;
    width: 100%;
    height: 80vh;
}

.first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 4px;
}

#avatar-photo {
    width: 33%;
    height: auto;
    border-radius: 10%;
}

.text-container {
    font-size: 1.2rem;
    font-family: 'Roboto';
    color: black;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 4px;
    margin-bottom: 1rem;
}

#tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

#container-scroll {
    width: 60%;
    overflow: hidden;
}

.scroll {
    display: flex;
    width: fit-content;
    animation: loop 10s linear infinite;
    gap: 30px;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.9rem;
    gap: 3px;
}

.item p {
    color: black;
}

.item:hover {
    cursor: pointer;
    scale: 1.2;
}

.tech-skills {
    width: 2rem;
    height: 2rem;
}

.typewriter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.typewriter-word {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    display: inline-block;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 480px) {
    .main-container {
        min-width: 80vw;
        padding: 5px;
    }

    .first-container {
        flex-direction: column;
    }

    #avatar-photo {
        width: 20%;
        margin-top: 2rem;
    }

    .text-container {
        font-size: 0.7rem;
    }

    .scroll {
        gap: 10px;
    }

    #container-scroll {
        width: 70%;
    }

    #tech-stack {
        font-size: 0.8rem;        
        width: 10%;
    }

    .tech-skills {
        width: 1.2rem;
        height: 1.2rem;
    }

    .item p {
        font-size: 0.4rem;
    }   
}

@media (min-width: 481px) and (max-width: 768px) {
    .main-container {
        min-width: 80vw;
        padding: 10px;
    }

    .first-container {
        flex-direction: column;
    }

    .text-container {
        font-size: 1.1rem;
    }

    #container-scroll {
        width: 90%;
    }
}