.swiper-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5rem;
  padding: 1rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem;
  gap: 1rem;
}

.swiper-slide:hover {
  cursor: pointer;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-container h5 {
  font-size: 1rem;
  font-weight: bold;
  color: black;  
}

.text-container p {
  font-size: 0.8rem;
  color: black;
}

.text-container h6 {
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
}

.tech-stack {
  display: flex;
  justify-content: center;
  width: 95%;
  overflow: hidden;
  gap: 0.5rem;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  height: 2rem;
  animation: loop 2s linear infinite;
  gap: 0.1rem;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.tech-item span {
  font-size: 0.4rem;
}

.tech-icons {
  width: 1rem;
  height: 1rem;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 65vw;
  height: 50vw;
  border-radius: 1rem;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.image-container:hover img {
  filter: blur(10px);
  transform: scale(1.05);
}

.buttons-container {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .buttons-container {
  opacity: 1;
}

.buttons-container a {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buttons-container a:hover {
  transform: scale(1.2);
}

@media (min-width: 481px) and (max-width: 768px) {
  .swiper-slide {
    gap: 1.5rem;
  }

  .text-container {
    gap: 1rem;
  }

  .text-container h5 {
    font-size: 1.5rem;
  }

  .text-container p {
    font-size: 1rem;
  }

  .text-container h6 {
    font-size: 0.9rem;
  }

  .tech-stack {
    gap: 1rem;
  }

  .tech-item {
    width: 6rem;
    height: 3rem;
  }

  .tech-item span {
    font-size: 0.6rem;
  }

  .tech-icons {
    width: 1.5rem;
    height: 1.5rem;
  }

  .image-container img {
    width: 70vw;
    height: 55vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .swiper-slide {
    gap: 2rem;
  }

  .text-container {
    gap: 1.5rem;
  }

  .text-container h5 {
    font-size: 2rem;
  }

  .text-container p {
    font-size: 1.3rem;
  }

  .text-container h6 {
    font-size: 1.3rem;
  }

  .tech-stack {
    gap: 1.5rem;
  }

  .tech-item {
    width: 8rem;
    height: 4rem;
  }

  .tech-item span {
    font-size: 0.8rem;
  }

  .tech-icons {
    width: 2.3rem;
    height: 2.3rem;
  }

  .image-container img {
    width: 75vw;
    height: 60vw;
  }
}

@media (min-width: 1025px) {
  .text-container {
    gap: 1.5rem;
  }

  .text-container h5 {
    font-size: 1.8rem;
  }

  .text-container p {
    font-size: 1.4rem;
  }

  .text-container h6 {
    font-size: 1.2rem;
  }

  .tech-stack {
    gap: 1rem;
  }

  .tech-item {
    width: 8rem;
    height: 4rem;
  }

  .tech-item span {
    font-size: 1rem;
  }

  .tech-icons {
    width: 2rem;
    height: 2rem;
  }

  .image-container img {
    width: 40vw;
    height: 25vw;
  }
}