.home {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40%;
    padding: 3%;
    margin-top: 2%;
}

#front-dev {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: bold;
    margin-top: 2%;
} 

#tech-set {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-animation {
    width: 300px;
    height: auto;
    margin: 20px auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.social-icons .MuiIconButton-root {
    color: #333;
    margin: 0 8px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons .MuiIconButton-root:hover {
    color: #1976d2;
    transform: scale(1.2);
}

.typewriter-character {
    display: inline-block;
    opacity: 0;
    animation: fadeInEffect 0.5s ease forwards;
}

@keyframes fadeInEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .home {
        width: 70%;
        padding: 4%;
        border-radius: 20px;
    }

    .typewriter h4 {
        margin-top: 5%;
    }

    #tech-set {
        width: 90%;
        margin-left: 3%;
    }
    
    .logo-animation {
        margin: 15px auto;
    }
}

@media (max-width: 480px) {
    .home {
        width: 80%;
        border-radius: 15px;
        padding: 5%;
        margin-top: 8%;
    }

    .typewriter h4 {
        font-size: 1.2rem;
    }

    #front-dev {
        font-size: 1.2rem;
    }

    .logo-animation {
        width: 60%;
        margin: 10px auto;
    }
}