.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

.home h4, #front-dev {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.typewriter-character {
    display: inline-block;
    opacity: 0;
    animation: fadeInEffect 0.5s ease forwards;
}

@keyframes fadeInEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

div#tech-set.MuiBox-root.css-0 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(190, 184, 184);
    margin-top: 0.6rem;
}

#tech-set div {
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

#tech-set svg {
    width: 2rem;
    height: 2rem;
}

.logo-animation {
    width: 50vw;
    height: 40vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-icons-home {
    display: flex;
    gap: 2rem;
}

.social-icons-home a svg {
    color: black;
    font-size: 2rem;
}

.social-icons-home a svg:hover {
    color: #007bff;
    scale: 1.2;
}

@media (min-width: 481px) and (max-width: 768px) {   
    .home {
        padding: 2rem;
    }

    .home h4, #front-dev {
        font-size: 1.5rem;
    }

    div#tech-set.MuiBox-root.css-0 {
        margin-top: 0.8rem;
    }

    #tech-set div {
        font-size: 1.7rem;
    }

    #tech-set svg {
        width: 2.5rem;
        height: 2.5rem;    
    }

    .logo-animation {
        width: 60vw;
        height: 50vw;               
    }

    .social-icons-home a svg {
        font-size: 3rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        padding: 2rem;
    }

    .home h4, #front-dev {
        font-size: 1.9rem;
    }

    div#tech-set.MuiBox-root.css-0 {
        margin-top: 0.8rem;
    }

    #tech-set div {
        font-size: 2rem;
    }

    #tech-set svg {
        width: 3rem;
        height: 3rem;
    }

    .logo-animation {
        width: 70vw;
        height: 60vw;
    }

    .social-icons-home a svg {
        font-size: 4rem;
    }
}

@media (min-width: 1025px) {
    .home {
        padding: 3rem;
    }

    .home h4, #front-dev {
        font-size: 2.3rem;
    }

    div#tech-set.MuiBox-root.css-0 {
        margin-top: 0.8rem;
    }

    #tech-set div {
        font-size: 2.3rem;
    }

    #tech-set svg {
        width: 3.5rem;
        height: 3.5rem;
    }

    .logo-animation {
        width: 30vw;
        height: 20vw;
    }

    .social-icons-home a svg {
        font-size: 4rem;
    }
}