.contact-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 40vw;
    width: 100%;
    height: auto;
}

.contact-left {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.contact-left p {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    color: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
    scale: 1.2;
}

.social-icons span {
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.contact-right {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
}

.contact-form label {
    font-weight: bold;
    text-align: left;
    color: black;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    padding: 1rem;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-form button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: #d9534f;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: -0.7rem;
}

/* JioPhone 2 */
@media (width: 240px) and (height: 320px) {
    .contact-container {    
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .contact-left p {
        font-size: 0.4rem;
        margin-bottom: 0.5rem;
    }

    .social-icons {
        margin-bottom: 0.2rem;
    }

    .social-icons a {
        font-size: 0.6rem;
    }

    .social-icons span {
        font-size: 0.3rem;
    }

    .contact-form {
        gap: 0.1rem;
    }
    
    .contact-form label {
        font-size: 0.3rem;
    }

    .contact-form textarea {
        height: 1rem;
        padding: 0.1rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 0.4rem;
        padding: 0.2rem;
    }

    .contact-form button[type="submit"] {
        font-size: 0.2rem;
        padding: 0.5rem;
    }

    .error {
        font-size: 0.3rem;
    }
}

/* iPhone 4 (old device) */
@media (width: 320px) and (height: 480px) {
    .contact-container {
        min-width: 80vw;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .contact-form textarea {
        height: 1rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 0.6rem;
        padding: 0.3rem;
    }
}

@media (max-width: 480px) {
    .contact-container {
        min-width: 73vw;
        height: auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .contact-left {
        padding: 0;
    }

    .contact-left p {
        font-size: 0.6rem;
        margin-bottom: 1rem;
    }

    .social-icons {
        gap: 1.2rem;
        margin-bottom: 1rem;
    }

    .social-icons a {
        font-size: 0.9rem;
    }

    .social-icons span {
        font-size: 0.5rem;
    }
    
    .contact-right {
        padding: 0;
    }
    
    .contact-form {
        gap: 0.3rem;
        padding: 0.2rem;
    }

    .contact-form label {
        font-size: 0.7rem;
    }
    
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 0.7rem;
    }

    .contact-form button[type="submit"] {
        font-size: 0.7rem;
        padding: 0.6rem;
    }

    .error {
        font-size: 0.6rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .contact-container {
        min-width: 75vw;
    }

    .contact-left p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .social-icons a {
        font-size: 2rem;
    }

    .contact-form textarea {
        height: 10rem;
    }

    .error {
        font-size: 0.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contact-container {
        min-width: 75vw;
    }

    .contact-left p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .social-icons a {
        font-size: 2.5rem;
    }

    .contact-form textarea {
        height: 12rem;
    }

    .error {
        font-size: 1rem;
    }
}