.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5%;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact-left p {
    font-size: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
    scale: 1.2;
}

.social-icons span {
    font-size: 0.6rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 0.5rem;
}

.contact-form label {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-size: 0.8rem;
    padding: 0.3rem;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    font-size: 0.7rem;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-form button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    font-size: 0.6rem;
    color: red;
}

/* JioPhone 2 */
@media (width: 240px) and (height: 320px) {
    .contact-container {    
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .contact-left p {
        font-size: 0.4rem;
        margin-bottom: 0.5rem;
    }

    .social-icons {
        margin-bottom: 0.2rem;
    }

    .social-icons a {
        font-size: 0.6rem;
    }

    .social-icons span {
        font-size: 0.3rem;
    }

    .contact-form {
        gap: 0.1rem;
    }
    
    .contact-form label {
        font-size: 0.3rem;
    }

    .contact-form textarea {
        height: 1rem;
        padding: 0.1rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 0.4rem;
        padding: 0.2rem;
    }

    .contact-form button[type="submit"] {
        font-size: 0.2rem;
        padding: 0.5rem;
    }

    .error {
        font-size: 0.3rem;
    }
}

/* iPhone 4 (old device) */
@media (width: 320px) and (height: 480px) {
    .contact-container {
        min-width: 80vw;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .contact-form textarea {
        height: 1rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 0.6rem;
        padding: 0.3rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .contact-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .contact-left p {
        font-size: 1.2rem;
    }

    .social-icons {
        gap: 3rem;
    }

    .social-icons a {
        font-size: 1.5rem;
    }

    .social-icons span {
        font-size: 0.8rem;
    }

    .contact-form label {
        font-size: 1rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .error {
        font-size: 0.8rem;
    }

    .contact-form button[type="submit"] {
        font-size: 1rem;
        padding: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contact-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .contact-left p {
        font-size: 1.4rem;
    }

    .social-icons {
        gap: 4rem;
    }

    .social-icons a {
        font-size: 2rem;
    }

    .social-icons span {
        font-size: 1rem;
    }

    .contact-form label {
        font-size: 1.2rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .error {
        font-size: 1rem;
    }

    .contact-form button[type="submit"] {
        font-size: 1.2rem;
        padding: 1rem;
    }
}

@media (min-width: 1025px) {
    .contact-container {
        padding: 1.5rem;
        margin-left: 25rem;
        margin-right: 25rem;
    }

    .contact-left p {
        font-size: 1.6rem;
    }

    .social-icons {
        gap: 5rem;
    }

    .social-icons a {
        font-size: 2.5rem;
    }

    .social-icons span {
        font-size: 1.2rem;
    }

    .contact-form label {
        font-size: 1.4rem;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 1.4rem;
        padding: 0.5rem;
    }

    .error {
        font-size: 1.2rem;
    }

    .contact-form button[type="submit"] {
        font-size: 1.4rem;
        padding: 1rem;
    }
}