.navigation {   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 1rem;
    color: white;
}

#menu-icon-button {
    display: flex;
}   

#nav-stack {
    display: none;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    background-color: rgb(12, 126, 213);
    color: white;
}

.drawer-link {
    color: inherit;
}

@media (min-width: 1025px) {   
    #menu-icon-button {
        display: none;
    }

    #nav-stack {
        display: flex;
        justify-content: center;
    }
    
    .nav-link {
        color: inherit;
    }
}