.experience-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.9);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    max-height: 83vh;
    min-width: 75vw;
}

.experience-date {
    text-align: left;
}
  
#experience-title {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

#experience-description {
    font-size: 0.8rem;
    color: black;
}

div.vertical-timeline-element-content.bounce-in {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}

@media (max-width: 480px) {
    .experience-container {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    #experience-title {
        font-size: 0.5rem;
    }

    #experience-description {
        font-size: 0.4rem;
    }

    span.experience-date.vertical-timeline-element-date {
        text-align: center;
        font-size: 0.65rem;
        color: red;
        padding-top: 0.5rem;
        padding-bottom: 0;
    }   
}

/* Medium devices - start */
@media (min-width: 481px) and (max-width: 768px) {
    .experience-date {
        text-align: center;
        color: red;
    }

    #experience-title {
        font-size: 0.8rem;
    }

    #experience-description {
        font-size: 0.6rem;
    }
}

/* Microsoft Lumia 550 device 640x360 */
@media (width: 640px) and (height: 360px) {
    .experience-container {
        padding: 0.2rem;
    }

    #experience-title {
        font-size: 0.5rem;
        margin-bottom: 0;
    }

    #experience-description {
        font-size: 0.4rem;
        margin-bottom: 0;
    }

    span.experience-date.vertical-timeline-element-date {
        font-size: 0.4rem;
    }   

    div.vertical-timeline-element-content.bounce-in {
        padding: 0.5rem;
        max-height: 18vh;
        margin-bottom: -1rem;
    }
}
/* Medium devices - end */

/* Large devices - start */
@media (min-width: 769px) and (max-width: 1024px) {
    .experience-date {
        text-align: center;
        color: red;
    }

    #experience-title {
        font-size: 1rem;
    }

    #experience-description {
        font-size: 0.8rem;
    }
}

/* Nest Hub device 1024x600 */
@media (width: 1024px) and (height: 600px) {
    .experience-container {
        padding: 0.5rem;
    }

    .experience-date {
        text-align: center;
        color: red;
    }

    span.experience-date.vertical-timeline-element-date {
        font-size: 0.8rem;
    }

    #experience-title {
        font-size: 0.8rem;
    }

    #experience-description {
        font-size: 0.6rem;
    }
}
/* Large devices - end */
